body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

#texto {
    height: 3vh;
    width: 50vh;
    font-size: 20px;
}

.botao {
    font-size: 20px;
    font-weight: bold;
    background-color: blue;
    color: white;
}

#curtidas {
    font-size: 20px;
}